.Color-Section {
  display: flex;
  flex-flow: wrap row;
}

.Color-Section .Color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px 3px 3px;
}

@media (max-width: 800px) {
  .Color-Section .Color {
    width: 0.5em;
    height: 0.5em;
  }
}
