.Detail_Name {
  text-align: center;
  padding: 10px;
}

.Detail_Image {
  width: 40%;
  height: auto;
}

.Details h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.Main_Details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GoBack {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  float: right;
}

.Tag {
  display: inline-block;
  width: auto;
  height: 20px;
  background-color: #b58109;
  -webkit-border-radius: 1.5px 2px 2px 1.5px;
  -moz-border-radius: 1.5px 2px 2px 1.5px;
  border-radius: 1.5px 2px 2px 1.5px;
  border-left: 1px solid #b58109;
  margin-left: 9.5px;
  position: relative;
  color: white;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  line-height: 19px;
  padding: 0 10px 0 10px;
  cursor: pointer;
}

h1,
h4 {
  font-weight: 100;
  font-family: 'Abel', sans-serif;
}

@media (max-width: 800px) {
  .Main_Details {
    display: block;
  }
  .Detail_Image {
    width: 100%;
    height: auto;
  }
}
